html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-flow:column wrap;
    height: 100%;
  }

body {
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(136, 12, 12, 0.7);
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex: 1;
}

.btn{
    /*display: block;*/
    font-size: 23px;
    flex: ;
    border: 2px solid rgb(8, 1, 15);
    height: 100%;
    width: 150px;
    padding: 4px 8px;
    margin: 10px;
    border-radius: 12px;
    display: inline-block;

}
.btn:hover{
    transform: scale(1.05);
    border-color: blue;
    color: rgba(60, 2, 2, 0.6);
    box-shadow: 0 0 1rem #ffc600;

}
img{
    margin-top: 15px;
}
.container{
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 5px;
    background-color: blue;
    margin-top: 50px;

}

.msg{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(16, 13, 14);
    text-shadow: 9px rgb(159, 240, 118);
    font-weight: bolder;
    font-size: 24px;
    background-color: rgba(232, 242, 85, 0.6);
    border-radius: 8px;
    height: 3.5rem;
    margin-right: 2px;
    padding: 4px 8px;
    white-space: pre-wrap;
    transition: all .007s ease;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(16, 13, 14);
    text-shadow: 9px rgb(159, 240, 118);
    font-weight: bolder;
    font-size: 24px;
    background-color: rgba(232, 242, 85, 0.6);
    border-radius: 8px;
    flex: .5;
    height: 3.5rem;
    padding: 4px 8px;

}